# Terraform files and directories
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
terraform.tfvars.json
.terraform.lock.hcl

# Sensitive credentials (just in case)
*.pem
*.key
*.env

# macOS / Linux system files
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Node/JS-related files (optional, if JS is used in other part of repo)
node_modules/
package-lock.json

